.bg-personal{
  width: 30%;
  height:50%;
  align-content: center;

}

img{
margin: auto;
display: block;
}

.img-persona{
  width: 30%;
  height:40%;
  align-items: flex-end;
  display: block;
  margin-left: 0cm;
}

.fas{
  cursor: pointer;
  margin-left: 5px;

}
body{
background-image:url("udenar.jpg");
background-size: 100%;
margin-top: 0%;
padding-top: 1rem;
padding-bottom: 1rem;

}

#advanced-search-form{
background-color: #fff;
max-width: 800px;
padding: 50px;
color: #999999;
box-shadow: 3px 6px 6px 6px rgba(0,0.2,0.2,0.2);
}

.boton-color{
  background-color: blue;
}

.div-green {
  background: #A7D2B0;
}

.hide-button-validar {
  display: none;
}